@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(90deg, #020279 0%, #0c0cff 100%);
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, serif;
}